html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{background: transparent;border: 0;margin: 0;padding: 0;vertical-align: baseline}
a{text-decoration:none}
.oc{display:none}


p     { font-size:18px; }

p.red { font-weight:900; 
  	    font-size:22px;	
		width:700px;
		text-align:center;
      }
span { font-size:25px;}
	
	
a.tabla       { text-decoration:none; color:#06F;}
a.tabla:hover { text-decoration:underline; color:#F00;}
































