<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


<title>Emarco S.A.S </title>

<link href="/emarcosas/templates/css/agregarmaquina.css"  type="text/css"  rel="stylesheet" media="all"  /> 




<script type="text/javascript" src="varios/jquery-1.3.1.min.js"></script>
<script type="text/javascript" src="varios/jquery.functions.js"></script>




{literal}

<script language="javascript">



function MuestraMaquinas(str){
		var xmlhttp; 
				if (str=="")
				  {
				  document.getElementById("txtHint").innerHTML="";
				  return;
				  }
			  if (window.XMLHttpRequest)
				  {// code for IE7+, Firefox, Chrome, Opera, Safari
				  xmlhttp=new XMLHttpRequest();
				  }
				else
				  {// code for IE6, IE5
				  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
				  }
				xmlhttp.onreadystatechange=function()
				  {
				  if (xmlhttp.readyState==4 && xmlhttp.status==200)
					 {
					 document.getElementById("maquina").innerHTML=xmlhttp.responseText;
					 }
				  }
			  xmlhttp.open("GET","opcionmaquina.php?m="+str,true);
				xmlhttp.send();
					
}
</script>
 
{/literal}





</head>

<body>


<div id="total"> 

	<div id="cuerpo"> 
 
 		<div id="contenido"> 

			<div id="cabecera"> 
				<a href="#" class="izquierda" id="logo" >  </a>
				
                <a href="#" class="enlacesoporte" >
				 	<span class="titulosoporte">  SOPORTE </span> 
				 	<img src="/emarcosas/templates/img/soporte.png" width="94" height="69" class="botonsoporte"/>
 				</a> 






			<p class="titulocontrol">
				Maquinaria 
			</p>
			<p class="tituloactual">
				Agregar Maquina  
			</p>
			
			<div id="menusuperior">
            	<img src="/emarcosas/templates/img/barradebotones.jpg" width="890" height="36" alt="menusuperior" class="barradebotones"/> 
                <div class="contenedorbotones">
                	<a href="logicadn.php?control=inicio" class="izquierda inicio"></a>
                	<a href="#" class="izquierda maquinas"></a>
                    <a href="#" class="izquierda mantenimiento"></a>
                    <a href="#" class="izquierda contratos"></a>
                    <a href="#" class="izquierda operadores"></a>
                    <a href="#" class="izquierda proveedores"></a>
                    <a href="#" class="izquierda cuentas"></a>
                    <a href="#" class="izquierda estadisticas"></a> 
                </div>  
               	
                <a href="logicadn.php?control=maquinaria" class="botonagregar">
                	<img src="/emarcosas/templates/img/botonvolver.png" width="23" height="23" /> 
                </a>
                <a href="logicadn.php?control=maquinaria" class="volver" >
                	<p class="volverinfo">
						Volver a control de Maquinas   
					</p> 
               	</a>
               
                     
            
            </div>


</div>


<div id="login">
	<table class="informacion"> 
    	<tr> 
        	<td class="fondocabeza"> 
            	<p class="negrita tituloinfosup">
                	Paso 1: Información de la Maquina.
                </p>
            </td>	
		</tr>
        <tr class="sinfondo">	
            <td class="informacionbotones"> 
            	<form name="fmaquina" action="logicadn.php?control=agregarmaquina" method="post">
					<p class="negrita izquierda tituloinfoid" >Ingrese un Id para esta Maquina: </p>
                    <p class="negrita izquierda tituloinfotipo"> Seleccione el tipo de Maquina: </p>
				    <br />

                        <input type="text" name="id" class="izquierda cajainfoid" >
                        
        
				        <select name="maquinas" onChange="MuestraMaquinas(this.value)"  class="izquierda cajainfotipo" >
							<option>Seleccione Maquina</option>
							<option>Motoniveladora</option>
							<option>Volco</option>
							<option>RetroEscavadora</option>
							<option>VibroCompactador</option>
							<option>Bulldozer</option>
							<option>Escavadora</option>
						</select>
        
        
              
        
        

                
            </td> 		
        </tr>
        
        
        <tr> 
        	<td class="fondocabeza"> 
            	<p class="negrita tituloinfosup">
                	Paso 2: Cambio de Aceite.
                </p>
            </td>	
		</tr>
        
        <tr class="sinfondo">	
            <td class="informacionbotones"> 
            
           <div id="maquina" ></div>
            
            {$mensaje}
     
            
            </td> 		
        </tr>
        
        
        <tr class="sinfondo">	
            <td class="informacionbotones"> 
                
                
                <input type="submit" value="Registrar Maquina" class="izquierda botonregistrar" >
 </form>
            </td> 		
        </tr>
    </table>
    



   
 
</div><!--fin login -->


<div id="barra"> 
<p class="izquierda legal" ><a href="#" class="link" >  Informacíon legal </a> <a class="guiontexto"> | </a>  <a href="#" class="link" >  Soporte Tecnico </a> </p>

</div>


</div> 





</div>


<div id="pie"> 


</div>

</div>







</body>
</html>